In [2]:
import pandas as pd

In [ ]:
import pandas as pd

# Load CSV file
df = pd.read_csv("Clean_Financial_Sample.csv")

# Currency columns to clean
currency_cols = ['Discounts', 'Sales', 'COGS', 'Profit']

# Safe cleaning function
def clean_currency_column(col):
    col = col.astype(str)  # ensure string type
    col = col.replace(r'\((.*?)\)', r'-\1', regex=True)  # handle negative in brackets
    col = col.replace(r'[-â€“\s]*$', '0', regex=True)  # treat dashes and spaces as 0
    col = col.replace('[\$,]', '', regex=True)  # remove $ and commas
    col = col.replace('^\s*$', '0', regex=True)  # replace blanks with 0
    return col.astype(float)

# Apply function to each currency column
for col in currency_cols:
    df[col] = clean_currency_column(df[col])

# Convert 'Date' to datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')  # 'coerce' handles invalid dates

# Optional: Save cleaned file
df.to_csv("Cleaned_Financial_Sample.csv", index=False)

# Preview cleaned data
print(df.head())

      Segment  Country      Product Discount_Band  Units_Sold  \
0  Government   Canada   Carretera          None       1618.5
1  Government  Germany   Carretera          None       1321.0
2   Midmarket   France   Carretera          None       2178.0
3   Midmarket  Germany   Carretera          None        888.0
4   Midmarket   Mexico   Carretera          None       2470.0

   Manufacturing_Price  Sale_Price  Gross_Sales  Discounts    Sales     COGS  \
0                    3          20      32370.0        0.0  32370.0  16185.0
1                    3          20      26420.0        0.0  26420.0  13210.0
2                    3          15      32670.0        0.0  32670.0  21780.0
3                    3          15      13320.0        0.0  13320.0   8880.0
4                    3          15      37050.0        0.0  37050.0  24700.0

    Profit       Date  Month_Number Month_Name  Year
0  16185.0 2014-01-01             1   January   2014
1  13210.0 2014-01-01             1   January   2014
2  10890.0 2014-06-01             6      June   2014
3   4440.0 2014-06-01             6      June   2014
4  12350.0 2014-06-01             6      June   2014

In [4]:
df.head()

,Segment,Country,Product,Discount_Band,Units_Sold,Manufacturing_Price,Sale_Price,Gross_Sales,Discounts,Sales,COGS,Profit,Date,Month_Number,Month_Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

In [6]:
df.shape

(700, 16)